/unity-rri/[Ll]ibrary/
/unity-rri/[Tt]emp/
/unity-rri/[Oo]bj/
/unity-rri/[Bb]uild/
/unity-rri/[Bb]uilds/
/unity-rri/[Ll]ogs/
/unity-rri/[Mm]emoryCaptures/
/unity-rri/UserSettings



[Aa]ssets/Plugins/Editor/JetBrains*



ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.unitypackage

crashlytics-build.properties

/shelf/
/workspace.xml
/projectSettingsUpdater.xml
/.idea.RRI-projekt.iml
/modules.xml
/contentModel.xml
.idea
/unity-rri/.idea/